* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-image: url("../Imagens/carta.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}

.CentroHorizontalVertical {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.meio {
  display: flex;
  justify-content: center;
}

.coluna {
  flex-direction: column;
  align-items: center;
}

.margin {
  margin: 10px 0;
}

#titulo {
  color: white;
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-size: 64pt;
  text-shadow: 0 0 10px gray, 0 0 20px gray, 0 0 30px lightgray;
}

.links {
  color: white;
  text-decoration: none;
}

#BotaoMenu-Box {
  width: 723.06px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.botao {
  border: 2px solid white;
  border-radius: 10px;
  background-color: black;
  font-family: "Gloria Hallelujah", cursive;
}

.menu-btn {
  font-size: 32pt;
  padding: 15px 20px;
}

.outros-btn {
  font-size: 15pt;
  padding: 10px 15px;
}

.texto {
  font-family: "Gloria Hallelujah", cursive;
  color: white;
  font-weight: 150;
  font-size: 16pt;
  display: flex;
  justify-content: center;
  text-align: center;
}

#texto {
  width: 500px;
}

.img {
  border: 2px white solid;
}

#Imagens-Box {
  display: flex;
  justify-content: space-between;
  height: 250px;
  width: 642.66px;
}

#tela {
  display: none;
}